<div class="relative h-screen flex">
  
  <!-- Sidebar -->
  <div [ngClass]="{ 'w-64': isSidebarOpen, 'w-16': !isSidebarOpen }"
       class="bg-gray-100 h-full shadow-lg flex flex-col transition-all duration-300">
    
    <!-- Sidebar Header with Toggle Button -->
    <div class="flex items-center p-4 space-x-2">
      <button (click)="toggleSidebar()" class="bg-gray-800 text-white p-2 rounded-full">
        <svg *ngIf="isSidebarOpen" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24"
             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="15 18 9 12 15 6"></polyline>
        </svg>
        <svg *ngIf="!isSidebarOpen" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24"
             fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </button>
      <h2 *ngIf="isSidebarOpen" class="text-lg font-semibold">Hi, {{ adminName }}</h2>
    </div>

    <!-- Sidebar Menu -->
    <nav class="space-y-2 p-2">
      <a (click)="selectMenu('overview')" 
         [ngClass]="{ 'bg-black text-white': selectedMenu === 'overview', 'hover:bg-gray-500 hover:text-white': selectedMenu !== 'overview' }"
         class="flex items-center p-2 rounded-md cursor-pointer">
        <span *ngIf="isSidebarOpen" class="ml-2">Overview</span>
      </a>

      <a (click)="selectMenu('videos')" 
         [ngClass]="{ 'bg-black text-white': selectedMenu === 'videos', 'hover:bg-gray-500 hover:text-white': selectedMenu !== 'videos' }"
         class="flex items-center p-2 rounded-md cursor-pointer">
        <span *ngIf="isSidebarOpen" class="ml-2">Manage Videos</span>
      </a>

      <a (click)="selectMenu('photos')" 
         [ngClass]="{ 'bg-black text-white': selectedMenu === 'photos', 'hover:bg-gray-500 hover:text-white': selectedMenu !== 'photos' }"
         class="flex items-center p-2 rounded-md cursor-pointer">
        <span *ngIf="isSidebarOpen" class="ml-2">Manage Photos</span>
      </a>

      <a (click)="selectMenu('categories')" 
         [ngClass]="{ 'bg-black text-white': selectedMenu === 'categories', 'hover:bg-gray-500 hover:text-white': selectedMenu !== 'categories' }"
         class="flex items-center p-2 rounded-md cursor-pointer">
        <span *ngIf="isSidebarOpen" class="ml-2">Manage Categories</span>
      </a>

      <a (click)="selectMenu('gallery')" 
         [ngClass]="{ 'bg-black text-white': selectedMenu === 'gallery', 'hover:bg-gray-500 hover:text-white': selectedMenu !== 'gallery' }"
         class="flex items-center p-2 rounded-md cursor-pointer">
        <span *ngIf="isSidebarOpen" class="ml-2">Gallery Management</span>
      </a>
    </nav>

    <!-- Logout Button -->
    <a (click)="logout()" *ngIf="isSidebarOpen"
       class="flex items-center p-2 rounded-md text-black bg-red-500 hover:bg-red-700 m-4">
      <span class="ml-2">Logout</span>
    </a>
  </div>

  <!-- Main Content -->
  <div class="flex-1 p-6 overflow-auto" [ngSwitch]="selectedMenu">

    <app-overview *ngSwitchCase="'overview'"></app-overview>

    <app-manage-videos *ngSwitchCase="'videos'"></app-manage-videos>

    <app-manage-photos *ngSwitchCase="'photos'"></app-manage-photos>

    <app-manage-categories *ngSwitchCase="'categories'"></app-manage-categories>

    <app-gallery-management *ngSwitchCase="'gallery'"></app-gallery-management>

    <div *ngSwitchDefault>
      <p class="text-gray-500">Please select a menu from the sidebar.</p>
    </div>

  </div>

</div>
