<header class="bg-gray-900 text-white p-4 shadow-lg">
    <div class="container mx-auto flex items-center justify-between relative">
      <!-- Logo -->
      <div class="flex items-center space-x-2">
        <img src="assets/logo.png" alt="College Logo" class="h-12 w-12">
        <span class="text-xl font-bold">Aadhavan Fest</span>
      </div>
  
      <!-- Navigation Menu -->
      <nav>
        <ul class="flex space-x-8 text-lg font-medium relative">
          <li class="group relative">
            <a href="#" class="flex items-center hover:text-green-400">
              Highlights 
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 ml-1">
                <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
              </svg>
            </a>
            <!-- Dropdown -->
            <ul class="absolute left-0 mt-2 w-48 bg-gray-800 text-white shadow-lg rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 hidden group-hover:flex flex-col">
              <li><a href="#" class="block px-4 py-2 hover:bg-green-500">Inside College</a></li>
              <li><a href="#" class="block px-4 py-2 hover:bg-green-500">Outside College</a></li>
            </ul>
          </li>
  
          <li class="group relative">
            <a href="#" class="flex items-center hover:text-pink-400">
              Achievements
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 ml-1">
                <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
              </svg>
            </a>
            <ul class="absolute left-0 mt-2 w-48 bg-gray-800 text-white shadow-lg rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 hidden group-hover:flex flex-col">
              <li><a href="#" class="block px-4 py-2 hover:bg-pink-500">District</a></li>
              <li><a href="#" class="block px-4 py-2 hover:bg-pink-500">State</a></li>
              <li><a href="#" class="block px-4 py-2 hover:bg-pink-500">National</a></li>
            </ul>
          </li>
  
          <li class="group relative">
            <a href="#" class="flex items-center hover:text-cyan-400">
              Events
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 ml-1">
                <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
              </svg>
            </a>
            <ul class="absolute left-0 mt-2 w-48 bg-gray-800 text-white shadow-lg rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 hidden group-hover:flex flex-col">
              <li><a href="#" class="block px-4 py-2 hover:bg-cyan-500">Upcoming</a></li>
              <li><a href="#" class="block px-4 py-2 hover:bg-cyan-500">Inside College</a></li>
              <li><a href="#" class="block px-4 py-2 hover:bg-cyan-500">Outside College</a></li>
            </ul>
          </li>
  
          <li class="group relative">
            <a href="#" class="flex items-center hover:text-white">
              College
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 ml-1">
                <path fill-rule="evenodd" d="M12.53 16.28a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 0 1 1.06-1.06L12 14.69l6.97-6.97a.75.75 0 1 1 1.06 1.06l-7.5 7.5Z" clip-rule="evenodd" />
              </svg>
            </a>
            <ul class="absolute left-0 mt-2 w-48 bg-gray-800 text-white shadow-lg rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 hidden group-hover:flex flex-col">
              <li><a href="#" class="block px-4 py-2 hover:bg-gray-500">About Us</a></li>
              <li><a href="#" class="block px-4 py-2 hover:bg-gray-500">Contact</a></li>
              <li><a href="#" class="block px-4 py-2 hover:bg-gray-500">Gallery</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  